body{
    background-color: rgb(255, 255, 255)
}

/* Header(navbar) */
@media screen and (min-width:992px){
    .nav-item {
        line-height: 80px;
    }
}

#headerNav{
    background-color: rgba(242, 108, 19, 0.844);
}

/* Footer */
.footer {
    background-color: rgb(233, 160, 51);
    padding: 20px 0;
}